html, body{
  height: 90%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto Slab', serif;

  padding: 0;
  color: #0F0A0A;
  background-color: #2292A4;
}

button{
  background: #F5EFED;
  color: #0F0A0A;
  padding:0 45px;
  border-radius: 15px;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  width: 100%;
  transition: .3s;
}

button:hover{
  opacity: 60%;  
  color: black;
  
}